<p>
  Cantidad de productos: {{myShoppingCart.length}}
</p>
<p>Total carrito: {{ total | currency: 'USD' }}</p>
<p>Fecha actual: {{ date | date: 'short' }}</p>
<p>Último cumpleaños fue hace: {{ cumpleanos | timeAgo }}</p>
<button (click)="addNewProduct()">Create</button>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)" (showDetail)="onShowDetail($event)"></app-product>
  <button (click)="loadMore()">Load More</button>
  <!--La propiedad [product] es la misma que se define en product.component.ts como variable de entrada @Input() product -->
</div>
<div class="product-detail" [class.active]="showProductDetail">
   <div>
    <button (click)="toggleProductDetail()">Cerrar</button>
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
    >
      <ng-template swiperSlide *ngFor="let image of product.images">
        <img [src]="image" alt="">
      </ng-template>
    </swiper>
    <p>{{product.description}}</p>
    <button (click)="updateProduct()">edit</button>
    <button (click)="deleteProduct()">delete</button>
  </div>
</div>
