
<!-- <app-nav></app-nav> -->
<router-outlet></router-outlet>

<!-- <app-products></app-products> -->

<!-- <p><input type="text" [(ngModel)] = "imgParent"></p>
<button (click)="toggleImg()" >Toggle Img</button>
<p>{{showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>  -->
<!--"loaded" es la variable de salida tipo emitter, definida en el componente hijo. -->
<!-- $event se debe colocar para recibir eventos (en este caso nuestro evento imgLoaded del componente hijo) -->

